.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

@media (max-width: 560px) {
  .container {
    grid-template-columns: 100%;
  }
}
.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #0056b3;
}
